interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc.testnet.arc.io/
  response:
    body:
      string: '{"id":0,"jsonrpc":"2.0","result":"0x332034e"}'
    headers:
      Content-Type:
      - application/json
      x-drpc-owner-id:
      - cb501251-31a8-4028-8b0a-54679f15c385
      x-drpc-owner-tier:
      - free
      x-drpc-trace-id:
      - 5c9482cb0c8f89a17b9f1cf38aeefda5
    status:
      code: 200
      message: OK
version: 1
